<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 mx-auto mt-5">
      <div class="card">
        <div class="card-body bg-light bg-gradient">
          <h5 class="card-title">Compare AI Responses</h5>
          <div class="mb-3">
            <label for="prompt" class="form-label">Prompt</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="prompt"
              (keyup.enter)="getResponse()"
            />
          </div>
          <div>
            <button (click)="getResponse()" class="btn btn-primary bg-gradient" [disabled]="isLoadingDeepseek || isLoadingDeepseek">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-5 justify-content-between">
    <div class="row">
      <div *ngIf="featureFlags.Gemini" class="col-sm-4 mx-auto">
        <div class="card">
          <h5 class="card-header"><img class="aiImage" src="/assets/images/gemini.png"/> Gemini AI Response <span class="fs-3">{{medalArray[geminiPosition]}}</span></h5>
          <div class="card-body text-start">
            <div *ngIf="!isLoadingGemini" style="white-space: pre-wrap">
              <label *ngIf="!aiGeminiResponse" class="form-label">Response</label>
              <p class="card-text" [innerHTML]="aiGeminiResponse"></p>
            </div>
            <div *ngIf="isLoadingGemini" class="spinner-border block" role="status">
              <span class="sr-only"></span>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="featureFlags.Deepseek" class="col-sm-4 container-fluid">
        <div class="card">
          <h5 class="card-header"><img class="aiImage" src="/assets/images/deepseek.png"/>  DeepSeek AI Response <span class="fs-3">{{medalArray[deepseekPosition]}}</span></h5>
          <div class="card-body text-start">
            <div *ngIf="!isLoadingDeepseek" style="white-space: pre-wrap">
              <label *ngIf="!aiDeepSeekResponse" class="form-label">Response</label>
              <p class="card-text" [innerHTML]="aiDeepSeekResponse"></p>
            </div>
            <div *ngIf="isLoadingDeepseek" class="spinner-border block" role="status">
              <span class="sr-only"></span>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="featureFlags.Mistral" class="col-sm-4 container-fluid">
        <div class="card">
          <h5 class="card-header"><img class="aiImage" src="/assets/images/mistral.png"/> Mistral AI Response <span class="fs-3">{{medalArray[mistralPosition]}}</span></h5>
          <div class="card-body text-start">
            <div *ngIf="!isLoadingMistral" style="white-space: pre-wrap">
              <label *ngIf="!aiMistralResponse" class="form-label">Response</label>
              <p class="card-text" [innerHTML]="aiMistralResponse"></p>
            </div>
            <div *ngIf="isLoadingMistral" class="spinner-border block" role="status">
              <span class="sr-only"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
