<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 mx-auto mt-3 p-2 border" style="white-space: pre-wrap">
      <h3 class="pb-2">Step 1 - Suggest an image</h3>
      <div class="input-group mb-3">
        <select [(ngModel)]="selectedModel" class="form-select" aria-label="Default select example">
          <option *ngFor="let model of chatGptImageModels" value={{model}}>{{model}}</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="imageGenInstruction" placeholder="Suggest an Image"
          aria-label="Question about image" aria-describedby="sendMessageButton" (keydown.enter)="generateImage()">
        <button class="btn btn-outline-secondary" type="button" id="sendMessageButton" (click)="generateImage()"
          [disabled]="isLoadingAIResponse"><i class="bi bi-send"></i></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 mx-auto mt-3 p-2 border">
      <h3 class="pb-2">Image Preview</h3>
      <div class="preview-container">
        <img id="preview" *ngIf="imageSrc" [src]="imageSrc" class="img-fluid img-thumbnail rounded mx-auto d-block"
          alt="Image Preview" />
        <div *ngIf="isLoadingAIResponse" class="spinner-border block" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
    </div>
  </div>
</div>