<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 mx-auto mt-5 p-2 border">
      <h2 class="pb-2">Step 1 - Load Image</h2>
      <input type="file" (change)="onFileSelected($event)" accept="image/*" />
    </div>
  <div>
  <div class="row">
    <div class="col-sm-6 mx-auto mt-3 p-2 border">
        <h2 class="pb-2">Image Preview</h2>
      <div class="preview-container">
        <img id="preview" *ngIf="imageSrc" [src]="imageSrc" class="img-fluid img-thumbnail rounded mx-auto d-block" alt="Image Preview" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 mx-auto mt-3 p-2 border" style="white-space: pre-wrap">
        <h2 class="pb-2">Step 2 - Ask Question</h2>
          <div class="input-group mb-3">
            <input type="text" class="form-control" [(ngModel)]="imageQuestion" placeholder="Ask a question" aria-label="Question about image" aria-describedby="sendMessageButton"
                (keydown.enter)="sendMessage()">
            <button class="btn btn-outline-secondary" type="button" id="sendMessageButton" (click)="sendMessage()" [disabled]="isLoading"><i class="bi bi-send"></i></button>
          </div>
          <div class="container-fluid">
            <button *ngFor="let prompt of samplePrompts" class="btn btn-outline-primary rounded-pill custom-small-text m-1" (click)="setSuggestedMessage(prompt)">
              {{prompt}}
            </button>
          </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 mx-auto mt-3 p-2 border" style="white-space: pre-wrap">
        <h2 class="pb-2">Response</h2>
        <div [innerHTML]="responseText"></div>

        <div *ngIf="isLoading" class="spinner-border block" role="status">
          <span class="sr-only"></span>
        </div>
    </div>
  </div>
</div>
